<form class = "edit_question" method = "POST" action = "/questions/<%= @question.id %>">
  <input type="hidden" name="_method" value="put">
  <label for="Title">Title: </label>
  <input type="text" name="question[title]" value="<%= @question.title %>">
  <label for="Content">Question: </label>
  <input type="text" name="question[content]" value="<%= @question.content %>">
  <input type="submit" value="Edit Question">
</form>
