<h1>Ask a Question</h1>
<ul>
<% if @errors %>
<% @errors.each do |error| %>
<li><%=error%></li>
  <% end %>
<% end %>
</ul>
<form method="POST" action="/questions">
  <input type="hidden" name="question[user_id]" value="<%= current_user.id %>">
  <label for="Title">Title: </label>
  <input type="text" name="question[title]">
  <label for="Content">Question: </label>
  <input type="text" name="question[content]">
  <input type="submit" value="Submit Question">
</form>
