<div class= "new_comment">
<% if @question%>
  <% commentable_id = @question.id %>
  <% commentable_type = "Question" %>
<% else @answer %>
  <% commentable_id = @answer.id%>
  <% commentable_type = "Answer" %>
<% end %>

<form class="comment_form" method="POST" action="/comments">
  <label for="comment">Comment: </label>
  <textarea name="comment[content]"></textarea>
  <input type="hidden" name="comment[commentable_id]" value="<%= commentable_id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= commentable_type %>">
  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
  <input type="submit" value="Add Comment">
</form>
</div>
