/** {
  border: solid black 1px;
}*/

p {
  overflow: overlay;
}

/*Home Page Layout*/
.container {
  margin: 5% auto;
  padding: 0px 20px 20px 20px;
}

.title-content {
  float: left;
  max-width: 500px;
  padding-left: 15px;
  padding-top: 5px;
}

.content  {
  margin: 5% auto;
  width: 800px;
  padding: 20px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.content .questions{
  list-style-type: none;
  padding: 0;

}

.content .question {
  margin: 20px 0px 20px 0px;
  padding: 5px 5px 5px 5px;
  background-color: #F0F0F0;
  border-radius: 5px;
  color:black;
  border-top: solid black 15px;

  position: relative;

  -webkit-box-shadow: 2px 4px 45px 1px rgba(0,0,0,0.67);
  -moz-box-shadow: 2px 4px 45px 1px rgba(0,0,0,0.67);
  box-shadow: 2px 4px 45px 1px rgba(0,0,0,0.67);
}

.attributes {
  float: left;
  width: 20%;
}

.attributes ul {
  list-style-type: none;
  padding: 0px;
  border-right: 1px black dotted;
  display: block;
  text-align:center;
  margin-bottom: 5px;
}

.attributes img {
  height: 60px;
  width: 60px;
}

.tags {
  clear: both;
  overflow: hidden;
}

.tags ul {
  list-style-type: none;
  border-top: 1px dotted black;
  /*float: left;*/
  /*list-style-position: horizt*/
}

.tags li {
  display: inline;
  float: left;
  margin-right: 13px;
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
  border: solid 1px grey;
  color: black;
}

.tags li:hover {
  background: white;
}




/*.content .question ul{
  list-style-type: none;
}*/

/*.content .question .tags li{
  float: left;
  margin-right: 13px;
  margin-top: 10px;
  border: solid 1px grey;
  padding: 4px;
  background: rgb(176,176,176);
}*/

/*.content a {
 display: block;
 color: black;
}*/

/*.attributes{
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
}*/

/*.attributes ul {
  list-style-type: none;
}*/


/*.attributes li {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: #909090;
  /*border-right: solid #909090 2px;*/
}*/

/*.statscontainer {
  width: 78px;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
}*/

/*Navigation Bar layout*/
nav{
  float: right;
  position: absolute;
  right: 0;
}

.navigation {
  float: right;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  display: inline-flex;
  padding: 0px 5px 0px 5px;
  border-bottom: solid black 1px;
  z-index: 1;
}

.navigation h1 {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-kerning: auto;
font-size: 28px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-variant-ligatures: normal;
font-weight: normal;
color: black;
margin-left: 30px;
}

.navigation ul{
  display: inline-flex;
  list-style-type: none;
  float: right;
  padding: 0 20px 0 20px;

}

.navigation ul li{
  padding: 10px 10px 10px 10px;
}

.navigation ul li a{
  color: black;
  padding: 5px 5px 5px 5px;
}


/* New Comment Page Layout */
.new_comment{
  margin: 10% auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
}

.new_comment form {
    padding: 20px 20px 20px 20px;

}

.new_comment textarea {
    max-width: 100%;
    height: 200px;
    width: 100%;
    margin-top: 15px;
}
.new_comment label {
  padding: 5px 5px;
}


.new_comment input[type="submit"] {
  margin-top: 15px;
}

/* Edit Comment Page Layout */
.edit_comment{
  margin: 10% auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
}

.edit_comment form {
    padding: 20px 20px 20px 20px;
}

.edit_comment textarea {
    max-width: 100%;
    height: 200px;
    width: 100%;
    margin-top: 15px;
}

.edit_comment label {
  padding: 5px 5px;
}

.edit_comment input[type="submit"] {
  margin-top: 15px;
}

/*Question Page Layout*/
section#question_display {
    padding: 20px 20px;
}

/*section#comment_question {
    padding: 20px 20px;
    float: right;
}*/

section#question {
    padding: 20px 20px;
}

section#display{
   margin-left: 8%;
}

section.comment_question{
   margin-left: 8%;
}

#display_comments{
  margin-left: 8%;
}

form.delete{
  margin-left: inherit;
}

p#edit{
  margin-left: inherit;
}
/*Votes Buttons*/
#votes{
  float: left;
  margin-top: 1em;
  margin-left: 2em;
}

#votes input[id="+1"] {
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/192852/thumbs-up-right.png"),none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: none;
  width: 2em;
  height: 2.9em;
  display: block;
}
#votes input[id="-1"] {
  background-image: url("http://www.clipartkid.com/images/47/thumbs-down-by-savanaprice-pIFdcY-clipart.png"),none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: none;
  width: 2em;
  height: 2.9em;
  display: block;
}

/*Profile Page*/

#profile-header {
  margin-top: 5% auto;
 /* background-color: black;
  width: 80%;*/
}

#profile-header h1{
  display: inline;
  width: 70%;
  margin-top: 50px;
  float: right;
}

#profile-header p{
  display: inline;
  position: absolute;
  /*margin-top: 8%;
  margin-left: 9.5%;*/
  top: 155px;
  left: 519px;
}

#profile-header img {
  display: inline-block;
  width:20%;
  /*height: 20%;*/
}

.tab-content {
    display: none;
    background-color: #F0F0F0;
    position: absolute;
    top: 485px;
    left: 60px;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    color: black ;
}


.tabs {
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
}
.tabs li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
    background-color: #F0F0F0;
    border-radius: 5px 5px 0 0;
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}


/*******************
SELECTION STYLING
*******************/

::selection {
  color: #fff;
  background: #f676b2; /* Safari */
}
::-moz-selection {
  color: #fff;
  background: #f676b2; /* Firefox */
}

#wrapper {
  /* Center wrapper perfectly */
  width: 300px;
  height: 400px;
  margin: 70px auto;
}



.gradient {
  /* Center Positioning */
  width: 600px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  z-index: -2;

  /* Fallback */
  background-image: url(http://www.demo.amitjakhu.com/login-form/images/gradient.png);
  background-repeat: no-repeat;

  /* CSS3 Gradient */
  background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
  background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
  background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
  background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
  background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
LOGIN FORM
*******************/

.login-form {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 60px;

  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-form #register-errors {
  display: inline-table;
  color: black;
  padding: 0;
}

/*******************
HEADER
*******************/

.login-form .header {
  padding: 40px 30px 0px 30px;
}

.login-form .header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height:34px;
  color: #414848;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  margin-bottom: 10px;
}

.login-form .header span {
  font-size: 11px;
  line-height: 16px;
  color: #678889;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
  padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
  width: 188px;
  padding: 15px 25px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
  margin-top: 25px;
}

.login-form .content .input:hover {
  background: #dfe9ec;
  color: #414848;
}

.login-form .content .input:focus {
  background: #dfe9ec;
  color: #414848;

  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
  width: 46px;
  height: 47px;
  display: block;
  position: absolute;
  left: 0px;
  padding-right: 2px;
  z-index: -1;

  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.user-icon {
  top:153px;
  background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/user-icon.png) no-repeat center;
}

.pass-icon {
  top:201px;
  background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/pass-icon.png) no-repeat center;
}

.email-icon {
  top: 248px;
  background: rgba(65,72,72,0.75) url() no-repeat center;
}

.content input:focus + div{
  left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .button {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/

.login-form .footer {
  padding: 25px 30px 40px 30px;
  overflow: auto;

  background: #d4dedf;
  border-top: 1px solid #fff;

  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
  float:left;
  padding: 11px 25px;

  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

  background: #56c2e1;
  border: 1px solid #46b3d3;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
  background: #3f9db8;
  border: 1px solid rgba(256,256,256,0.75);

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
  position: relative;
  bottom: -1px;

  background: #56c2e1;

  box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
