* {
  border: solid black 1px;
}

h1 {
  font-family: 'Atomic Age', cursive;
}

/*Home Page Layout*/
.container {
  margin: 5% auto;
  padding: 0px 20px 20px 20px;
}

.content  {
  margin: 5% auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.content .questions{
  list-style-type: none;
  padding: 0;
}

.content .question {
  margin: 20px 0px 20px 0px;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 45px 1px rgba(0,0,0,0.67);
  -moz-box-shadow: 2px 4px 45px 1px rgba(0,0,0,0.67);
  box-shadow: 2px 4px 45px 1px rgba(0,0,0,0.67);
}

.content a {
 display: block;
}

.attributes{
  list-style-type: none;
  display: inline-flex;
}

.attributes li {
  padding-left: 5px;
  padding-right: 5px;
}

/*Navigation Bar layout*/
nav{
  float: right;
  position: absolute;
  right: 0;
}

.navigation {
  float: right;
  width: 100%;
  background-color: red;
  position: fixed;
  top: 0px;
  display: inline-flex;
  padding: 0px 5px 0px 5px;
}

.navigation ul{
  display: inline-flex;
  list-style-type: none;
  float: right;
  padding: 0 20px 0 20px;

}

.navigation ul li{
  padding: 10px 10px 10px 10px;
}

.navigation ul li a{
  color: white;
  padding: 5px 5px 5px 5px;
}

/* New Comment Page Layout */
.new_comment{
  margin: 10% auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
}

.new_comment form {
    padding: 20px 20px 20px 20px;
}

.new_comment input[type="text"] {
    height: 200px;
    width: 100%;
    margin-top: 15px;
}
.new_comment label {
  padding: 5px 5px;
}

.new_comment input[type="submit"] {
    margin-top: 15px;
}
