<% @user = User.new() unless @user %>

<div class="container">
  <h1>Register New User</h1>
  <form action="/users" method="post">
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]" placeholder="username" value="<%= @user.username %>">
    <label for="user[email]">Email:</label>
    <input type="text" name="user[email]" placeholder="email" value="<%= @user.email %>">
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Register">
  </form>

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>
