<div class="container">
  <h1>Welcome to Panda Flow <%= current_username %>!</h1>
  <% @questions.each do |question| %>
  <a href="/questions/<%=question.id%>"><%= question.votes.pluck("point_value").sum %> <%= question.title %></a>
  <% end %>
</div>

<a href="/questions/new">Ask a Question</a>
